#container {
    display: flex;
}

#image-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 58%;
}

#focus-panel {
    display: flex;
    justify-content: center;
    position: fixed;
    right:0px;
    width: 42%;
    height: 100%;
    background-color: rgb(53, 53, 53);
}


.image-result {
    max-width: 250px;
    max-height: 100px;
    margin: 5px 20px;
}

#focus-image {
    display: inline-block;
    margin: 100px 25px;
    max-width: 700px;
    max-height: 500px;
}