#container {
    display: flex;
}

.image-list-full-width {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.condensed {
    width: 58%
}

.hidden {
    display: none;
}

#focus-panel{
    position: sticky;
    top: 0px;
    right: 0px;
    width: 42%;
    height: 100vh;
    background-color: rgb(44, 44, 44);
}

.image-result {
    max-width: 250px;
    max-height: 100px;
    margin: 5px 20px;
    cursor: pointer;
}

#focus-container {
    position: relative;
    width: 92%;
    margin: 25px auto;
}

#exit-icon {
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
}

#focus-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 80vh;
}